
.bar{
    box-shadow: 10px 1px 200px;
    background-color: white;
    margin-bottom: 80px;
}

span{
    color: rgb(55, 54, 54);
    font-weight:600;
    font-size: large;
}
span:hover{
    color: green;
}

@media screen and (min-width:992px) {
    .nav-items{
        margin-left: 20px;
        margin-right: 20px;
        /* align-items: center; */
        /* background-color: blueviolet; */
    } 
}
